{% extends 'base.html' %}

{% block content %}
<br>
<br>
<center>
  <div class="panel panel-info" style="width:600px;">
    <div class="panel-heading">
      <h3 class="panel-title">罪犯信息记录</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for criminal in criminals %}
          <li class="list-group-item">
        {% if criminal['important'] %}
          <span class="badge">A级</span>
        {% else %}
          <span class="badge">B级</span>
        {% endif %}
          <h2>{{criminal['name']}}({{ criminal['id'] }})</h2><br>
        {% if g.user and g.user['is_manager'] %}
          <form action="{{ url_for('criminal.delete', rank=criminal['rank']) }}" method="post">
            <button type="submit" class="btn btn-primary" style="width:100px;" onclick="return confirm('你确定吗?');">删除</button>
          </form>
        {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</center>

{% endblock %}
