{% extends 'base.html' %}

{% block content %}
<br>
{# 提交task类别信息 #}
<form method="post" id="task">
    <input type="hidden" name="task" id="choose_task" value="face_recognition">
    <ul class="nav nav-pills">
      <li {% if task == "object_track" %} class = "active" {% else %} class = "" {% endif %}><a href="javascript:void(0);" onclick="choose_object_track()" >物体追踪记录</a></li>
      <li {% if task == "face_recognition" %} class = "active" {% else %} class = "" {% endif %}><a href="javascript:void(0);" onclick="choose_face_recognition()" >罪犯识别记录</a></li>
    </ul>
</form>

<script>
    function choose_object_track() {
      document.getElementById("choose_task").setAttribute("value", "object_track");
      document.getElementById("task").submit();
    }
    function choose_face_recognition() {
      document.getElementById("choose_task").value="face_recognition";
      document.getElementById("task").submit();
    }
</script>

{% if task == "face_recognition" %}
  <ul class="list-group">
    {% for record in records %}
      <li class="list-group-item">
    {% if record['criminal_important'] %}
      <span class="badge">A级逃犯</span>
    {% endif %}
      <h3>{{record['criminal_name']}}({{ record['criminal_id'] }})
          在时刻{{ record['time'] }}出现在了摄像头{{ record['camera_id'] }}</h3><br>
      <form action="{{ url_for('records.delete', id=record['id']) }}" method="post">
        <button type="submit" class="btn btn-primary" style="width:100px;" onclick="return confirm('你确定要删除这条记录吗?');">删除</button>
      </form>
      </li>
    {% endfor %}
  </ul>
{% elif task == "object_track" %}
  <ul class="list-group">
    {% for record in records %}
      <li class="list-group-item">
    {% if record['criminal_important'] %}
      <span class="badge">A级逃犯</span>
    {% endif %}
      <h3>{{record['item']}}({{ record['item_id'] }})--
          enterTime:{{record['enter_time']}}&nbsp;
          leaveTime:{{record['leave_time']}}&nbsp;
          cameraID:{{record['camera_id']}}&nbsp;</h3><br>
      <form action="{{ url_for('records.delete', id=record['id']) }}" method="post">
        <button type="submit" class="btn btn-primary" style="width:100px;" onclick="return confirm('你确定要删除这条记录吗?');">删除</button>
      </form>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
