{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}管理员界面{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for user in users %}
        <article class="post">
            <header>
                <div>
                    <h1>{{user['username']}}</h1>
                    <div class="about">
                        {% if user['is_manager'] %}
                            管理员
                        {% endif %}
                    </div>
                </div>
                <a class="action" href="{{url_for('auth.delete', id=user['id'])}}">删除</a>
            </header>
        </article>
    {% endfor %}
{% endblock %}