{% extends 'base.html' %}

{% block content %}
<br>
<br>
<center>
  <div class="panel panel-info" style="width:600px;">
  	<div class="panel-heading">
  		<center><h3 class="panel-title">注册新用户</h3></center>
  	</div>
  	<div class="panel-body">
      <center>
        <div>
          <form method="post">
            <div class="input-group" style="width:300px;">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> 用户</span>
              <input type="text" class="form-control" placeholder="用户名" name="username" id="username" required>
            </div><br>
            <div class="input-group" style="width:300px;">
              <span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span> 密码</span>
              <input type="password" class="form-control" placeholder="密码" name="password" id="password" required>
            </div><br>

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                是否为管理员
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <center>
                    <input type="radio" name="is_manager" value="True"/>&nbsp;是</input>
                  </center>
                </li>
                <li>
                  <center>
                    <input type="radio" name="is_manager" value="False" checked/>&nbsp;否</input>
                  </center>
                </li>
              </ul>
            </div>
            <br>
            <br>

            <button type="submit" class="btn btn-primary" style="width:200px;">注册新用户</button>
          </form>
        </div>
      </center>
  	</div>
  </div>
<center>
<br><br>

{% endblock %}
