{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}注册界面{% endblock %}</h1>
  <a class="action" href="{{url_for('auth.manage')}}">管理页面</a>
  <a class="action" href="{{url_for('auth.update_password')}}">修改密码</a>
  <a class="action" href="{{url_for('video.video_html')}}">监控页面</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">用户名</label>
    <input name="username" id="username" required>
    <label for="password">密码</label>
    <input type="password" name="password" id="password" required>
    <label>是否为管理员</label>
    <label><input type="radio" name="is_manager" value="True"/>是</label>
    <label><input type="radio" name="is_manager" value="False" checked/>否</label>
    <input type="submit" value="注册新用户">
  </form>
{% endblock %}