{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}修改密码{% endblock %}</h1>
  {% if g.user and g.user['is_manager'] %}
    <a class="action" href="{{url_for('auth.manage')}}">管理员界面</a>
    <a class="action" href="{{url_for('auth.register')}}">注册新用户</a>
  {% endif%}
  <a class="action" href="{{url_for('video.video_html')}}">监控页面</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">用户名</label>
    <input name="username" id="username" required>
    <label for="password">旧密码</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="password">新密码</label>
    <input type="password" name="new_password" id="new_password" required>
    <input type="submit" value="修改密码">
  </form>
{% endblock %}