{% extends 'base.html' %}

{% block content %}
<br>
<br>
<center>
  <div class="panel panel-info" style="width:600px;">
  	<div class="panel-heading">
  		<center><h3 class="panel-title">修改密码</h3></center>
  	</div>
  	<div class="panel-body">
      <center>
        <div>
          <form method="post">
            <div class="input-group" style="width:300px;">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> 用户名</span>
              <input type="text" class="form-control" placeholder="用户名" name="username" id="username" required>
            </div><br>
            <div class="input-group" style="width:300px;">
              <span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span> 旧密码</span>
              <input type="password" class="form-control" placeholder="旧密码" name="old_password" id="old_password" required>
            </div><br>
            <div class="input-group" style="width:300px;">
              <span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span> 新密码</span>
              <input type="password" class="form-control" placeholder="新密码" name="new_password" id="new_password" required>
            </div><br>
            <button type="submit" class="btn btn-primary" style="width:200px;">修改密码</button>
          </form>
        </div>
      </center>
  	</div>
  </div>
<center>
<br><br>

{% endblock %}
